<%- include('header.ejs') %>
<section class="container">
    <div class="frontpage-header">
        <form class="form-container" method="POST" action="/reset">
            <div class="login-box">
                <label>Email</label>
                <input type="email" name="email" />
            </div>
            <button class="waves-effect waves-light btn-large deep-orange">Reset password</button>
        </form>
        <div>
        </div>
    </div>
    
</section>
</body>

</html>